# Dependency directories
node_modules/

# Environment config
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Screenshots
*.png

# Coverage directory
coverage/

# OS specific files
.DS_Store
Thumbs.db

# IDE folders
.idea/
.vscode/
*.swp
*.swo